<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Component Example</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/98739fb8ac6779cb2da11aaa9ab6032e52f3be00/currency-validator.js"></script>
</head>

<body>
    <div id="component-example">
        <details>
            <summary>Using Components</summary>
            <my-component></my-component>
            <my-component></my-component>
            <my-component></my-component>

            <child-component></child-component>
        </details>
        <details>
            <summary>Props</summary>
            <div>
                Literal Props:
                <!-- kebab-case in HTML -->
                <child my-message="hello!"></child>
            </div>
            <br>
            <div>
                Dynamic Props:
                <input v-model="parentMsg">
                <child :my-message="parentMsg"></child>
            </div>
            <br>
            <div>
                How to pass down a number:
                <br>
                <child my-message="10"></child>
                <br>
                <child :my-message="20"></child>
                <br>
                <child :my-message="number"></child>
            </div>
            <br>
            <div>
                How to define a local data property by using props.
                <br> initial-counter="0" vs. :initial-counter="1"
                <br>
                <my-component initial-counter="0"></my-component>
                <my-component :initial-counter="1"></my-component>
            </div>
            <br>
            <div>
                Note that objects and arrays in JavaScript are passed by reference,
                <br>so if the prop is an array or object, mutating the object or array itself inside the child will affect parent state.
                <details open>
                    <summary>Parent</summary>
                    Parent arrNumber: {{ arrNumber }}
                    <br>Parent obj: {{ obj }}
                </details>
                <details open>
                    <summary>Child</summary>
                    <exam01 :arr-number="arrNumber" :obj="obj"></exam01>
                </details>
            </div>
        </details>
        <details open>
            <summary>Custom Events</summary>
            <div>
                Using v-on with Custom Events
                <br>
                <button-counter v-on:increment="incrementTotal"></button-counter>
                <button-counter v-on:increment="incrementTotal"></button-counter>
                Total: {{ total }}
                <br> Binding Native Events to Components:
                <button-counter v-on:click.native="nativeEvent"></button-counter>
            </div>
            <hr>
            <div>
                Form Input Components using Custom Events
                <br> Example 1
                <br>
                <currency-input v-model="price"></currency-input>
                <hr> Example 2
                <br>
                <currency-input2 label="Price" v-model="price"></currency-input2>
                <currency-input2 label="Shipping" v-model="shipping"></currency-input2>
                <currency-input2 label="Handling" v-model="handling"></currency-input2>
                <currency-input2 label="Discount" v-model="discount"></currency-input2>
                <p>Total: ${{ computedTotal }}</p>
            </div>
            <hr>
        </details>
    </div>
    <script type="text/javascript" src="componentEx.js"></script>
</body>

</html>
